{% extends 'learnapp/base.html' %} {% block content %}
<script type="text/javascript">
  google.charts.load('current', {'packages':['gantt']});
  google.charts.setOnLoadCallback(drawChart);
  function toMilliseconds(minutes) {
    return minutes * 60 * 1000;
  }
  function drawChart() {
    var otherData = new google.visualization.DataTable();
    otherData.addColumn('string', 'Task ID');
    otherData.addColumn('string', 'Task Name');
    otherData.addColumn('string', 'Resource');
    otherData.addColumn('date', 'Start');
    otherData.addColumn('date', 'End');
    otherData.addColumn('number', 'Duration');
    otherData.addColumn('number', 'Percent Complete');
    otherData.addColumn('string', 'Dependencies');
    otherData.addRows([
      ['toTrain', 'Walk to train stop', 'walk', null, null, toMilliseconds(5), 100, null],
      ['music', 'Listen to music', 'music', null, null, toMilliseconds(70), 100, null],
      ['wait', 'Wait for train', 'wait', null, null, toMilliseconds(10), 100, 'toTrain'],
      ['train', 'Train ride', 'train', null, null, toMilliseconds(45), 75, 'wait'],
      ['toWork', 'Walk to work', 'walk', null, null, toMilliseconds(10), 0, 'train'],
      ['work', 'Sit down at desk', null, null, null, toMilliseconds(2), 0, 'toWork'],
    ]);
    var options = {
      height: 275,
      gantt: {
        defaultStartDateMillis: new Date(2015, 3, 28)
      },
      labelStyle: {
  fontSize: 28,
  color: '#757575'
}
    };
    var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
    chart.draw(otherData, options);
  }
</script>

<div class="jumbotron">
  <h2 class="display-3" style="margin-top:10px; text-align:center;">Node.js</h2>
</div>
<ul class="nav nav-tabs nav-fill" style=" display: flex;
      justify-content: center;
      align-items: center;">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#skills">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#modules">Modules</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="skills">
    <div id="chart_div" style="width:100%; margin-top: 20px;"></div>
  </div>
  <div class="tab-pane fade" id="modules">

  </div>
</div>
</div>

{% endblock %}
