{% extends 'learnapp/base.html' %} {% block content %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
<span class="navbar-toggler-icon"></span>
</button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
                <li class="pane1">
                    <div class="img"></div>
                    <div>Chris Hampson, Developer at Facebook</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane2">
                    <div class="img"></div>
                    <div>Ordinaldo Rodriguez, King's College London</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane3">
                    <div class="img"></div>
                    <div>Lela Koulouri, Works in AI start-up</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane4">
                    <div class="img"></div>
                    <div>Alin Fulga, Lynder CEO</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane5">
                    <div class="img"></div>
                    <div>Martin Chapman, Professor at UCL</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
            </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->
    <div id="status"></div>

    <!-- jQuery lib -->
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="{% static 'jquery.transform2d.js' %}"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="{% static 'jquery.jTinder.js' %}"></script>
    <!-- jTinder initialization script -->
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}